body {
    height: 100vh;
}

.container {
    height: 100%;
    max-width: none;
    margin:0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.wrapper {
    width: 50%;
    padding: 3%;
}

.rounded-corners {
    border-radius: 50px;
}
  
.left-side-content {
    height: 100%;
    padding: 5%;
    background-color: #2A2B2A;
    line-height: 1;
    font-family: 'Source Code Pro', monospace;
}

span.username {
    color: lightgreen;
}

span.directory {
    color: lightskyblue;
}

span.venv {
    color: wheat;
}

.left-side-content p {
    color: #E0E0E0;
}

.left-side-content a {
    color: #E0E0E0;
}

.console p {
    color: #E0E0E0;
}

.static-wrapper {
    position: fixed;
    /*display: flex;*/
    right: 50%;
    height: 100%;
}

.scroll-wrapper {
    position: absolute;
    right: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scroll-wrapper::-webkit-scrollbar {
    display: none; 
    margin-right: 5%;
}