@import 'ColorTheme';

.left {
  background-color: $onedark-dark;
  margin: 10px;
  border-radius: 15px;
  text-align: left;
  padding-left: 10px;
  min-height: 90vh;

  :is(p, a) {
    color: $onedark-light;
    background-color: transparent;
  }

  a {
    &:visited {
      color: $onedark-blue;
    }

    &:hover {
      color: $onedark-red;
    }

    &:link {
      color: $onedark-blue;
    }
  }

  .cyan {
    color: $onedark-cyan;
  }

  .lightblue {
    color: $onedark-blue;
  }

  .blue {
    color: $onedark-blue-alt;
  }

  .purple {
    color: $onedark-purple;
  }

  .green {
    color: $onedark-green;
  }

  .lightred {
    color: $onedark-red;
  }

  .red {
    color: $onedark-red-alt;
  }

  .orange {
    color: $onedark-orange;
  }

  .lightorange {
    color: $onedark-orange-alt;
  }
}

.header {
  line-height: 30px;
  font-size: 15px;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  line-height: 17px;
}
