@import 'ColorTheme';

.left {
  background-color: $onedark-dark;
  margin: 10px;
  border-radius: 7px;
  text-align: left;
  padding-left: 10px;
  min-height: calc(100vh - 20px);

  p {
    color: $onedark-light;
  }
}

.header {
  line-height: 30px;
  font-size: 15px;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  line-height: 17px;
}
