<!DOCTYPE html>
<html>
  <head>
    <title>ja.kob.codes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landingpage.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/landingpage.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="static-wrapper">
        <p>
          ┌<span class="username">jakob</span> in <span class="directory">~</span><br>
          └> ls<br><br>
          <button class="about" onclick="about()">about</button>&nbsp;
          <button class="code" onclick="cdCode()">code</button>&nbsp;
          <button class="keebs" onclick="cdKeebs()">keebs</button>&nbsp;
          <button class="tools" onclick="cdTools()">tools</button><br>
          <div id="layer1" class="console">
            <p>
              ┌<span class="username">jakob</span> in <span class="directory">~</span><br>
              └> cd code/<br><br>
              ┌<span class="username">jakob</span> in <span class="directory">~/code</span><br>
              └> ls<br><br>
              <button class="ja.kob.codes" onclick="cdThisSite()">ja.kob.codes</button>&nbsp;
              <button class="metronome" onclick="cdMetronome()">metronome</button>&nbsp;
              <button class="python" onclick="cdPython()">python</button>&nbsp;
              rust-hello&nbsp;
              <button class="wiiu" onclick="cdWiiu()">wiiu</button>
              <div id="layer2">
                <p>
                  ┌<span class="username">jakob</span> in <span class="directory">~/code</span><br>
                  └> cd ja.kob.codes/<br><br>
                  ┌<span class="username">jakob</span> in <span class="directory">~/code/ja.kob.codes</span><br>
                  └> git pull<br><br>
                  Already up to date.<br><br>
                  ┌<span class="username">jakob</span> in <span class="directory">~/code/ja.kob.codes</span><br>
                  └> source venv/bin/activate<br><br>
                  ┌<span class="venv">(venv)</span> <span class="username">jakob</span> in <span class="directory">~/code/ja.kob.codes</span><br>
                  └> export FLASK_APP=app.py<br><br>
                  ┌<span class="venv">(venv)</span> <span class="username">jakob</span> in <span class="directory">~/code/ja.kob.codes</span><br>
                  └> export FLASK_ENV=production<br><br>
                  ┌<span class="venv">(venv)</span> <span class="username">jakob</span> in <span class="directory">~/code/ja.kob.codes</span><br>
                  └> flask run<br>
                </p>
              </div>
            </p>
          </div>
        </p>
      </div>
      <div class="scroll-wrapper" id="content-div">
        <p>
          <h1>It's me: &nbsp;<img class="picOfMe", src="{{ url_for('static', filename='img/jakob.jpg') }}", height=15%, width=15%></h1>
        </p>
        <p>
          Look at me, on the internet like a real pro.<br>
          I'm not sure what this place is for yet, but on the left there will be various links to my projects on Github once I figure out how to implement them nicely.
          My Github is also linked down below, for some reason
        </p>
      </div>
      <div class="footer">
        <a href="https://github.com/jakobkg", target="_blank"><img src="{{ url_for('static', filename='img/github_logo.png') }}"></a>
      </div>
    </div>
  </body>
</html>
