<!DOCTYPE html>
<html>
  <head>
    <title>ja.kob.codes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landingpage.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="wrapper static-wrapper rounded-corners">
        <div class="left-side-content rounded-corners">
          <!---<h1>🚧🚨👷‍♀️🚨🚧</h1>
          <h1>UNDER CONSTRUCTION</h1>
          <h1>🚧🚨👷‍♂️🚨🚧</h1>--->
          <p>
            ┌<span class="username">jakob</span> in <span class="directory">~</span><br>
            └> ls<br><br>
            code&nbsp;&nbsp;keebs&nbsp;&nbsp;tools<br><br>
            ┌<span class="username">jakob</span> in <span class="directory">~</span><br>
            └> cd code/<br><br>
            ┌<span class="username">jakob</span> in <span class="directory">~/code</span><br>
            └> ls<br><br>
            cpp&nbsp;&nbsp;ja.kob.codes&nbsp;&nbsp;python&nbsp;&nbsp;rust-hello&nbsp;&nbsp;vlang<br><br>
            ┌<span class="username">jakob</span> in <span class="directory">~/code</span><br>
            └> cd ja.kob.codes/<br><br>
            ┌<span class="username">jakob</span> in <span class="directory">~/code/ja.kob.codes</span><br>
            └> git pull<br><br>
            Already up to date.<br><br>
            ┌<span class="username">jakob</span> in <span class="directory">~/code/ja.kob.codes</span><br>
            └> source venv/bin/activate<br><br>
            ┌<span class="venv">(venv)</span> <span class="username">jakob</span> in <span class="directory">~/code/ja.kob.codes</span><br>
            └> export FLASK_APP=app.py<br><br>
            ┌<span class="venv">(venv)</span> <span class="username">jakob</span> in <span class="directory">~/code/ja.kob.codes</span><br>
            └> export FLASK_ENV=production<br><br>
            ┌<span class="venv">(venv)</span> <span class="username">jakob</span> in <span class="directory">~/code/ja.kob.codes</span><br>
            └> flask run<br>
            </p>
        </div>
      </div>
      <div class="wrapper scroll-wrapper">
        <p>
          <h1>Hello, friend</h1>
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel veritatis sapiente optio recusandae reprehenderit? Obcaecati quidem nulla, velit sequi distinctio illum reprehenderit repellendus, eius molestias animi, magnam qui autem facilis.

          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae dolores recusandae nisi ad minima nobis veniam officiis a perspiciatis quae repellat quas libero, eum voluptate! Incidunt nostrum quae unde?

          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem sint laudantium tempora deserunt possimus, dicta perspiciatis voluptates ipsum ipsa fuga repellendus, id qui. Dolorum eos numquam modi, magnam recusandae laboriosam.

          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, perspiciatis quae error facilis quisquam necessitatibus, dolores beatae cum, amet aliquid officia libero ipsam iste vel suscipit recusandae maiores voluptatem neque?

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium laborum maiores, illo saepe quaerat fugit odio rerum, error omnis ipsa ut placeat sint quam eius. Maxime fuga laboriosam deserunt atque.

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, qui non perferendis unde recusandae sequi rerum tempora quaerat delectus, quos aut iste ea aperiam, quae corrupti corporis reiciendis facere maxime.

          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde architecto nam voluptas aliquam non, nostrum labore rerum itaque ea quas corporis commodi sunt. Temporibus incidunt velit quibusdam quam harum modi.
        </p>
      </div>
    </div>
  </body>
</html>
